.git
.github
.kilo
.env
.env.*
!.env.example
.phpunit.result.cache
docker-compose*.yml
docker-compose*.yaml
node_modules
vendor
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
public/build
